/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&family=Nunito&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    main {
        @apply pb-[200px] md:pb-[426px] xl:pb-[360px]  mt-6 md:mt-16 xl:mt-36
    }

    .contact-page-input {
        @apply border-2 border-primary focus:border-primary-dark2 bg-primary/[.06] focus:bg-primary-dark2/[.06]  font-jose-600-it text-[9px] md:text-sm leading-[9px] xl:leading-4 pl-[10px] md:pl-5 my-1 md:my-[6px]
    }

    .desktop-header-nav-items {
        @apply xl:w-[144px] xl:border-r xl:border-black
    }

    .desktop-footer-headings {
        @apply font-unna-400-it text-[27px]
    }

    .desktop-footer-items {
        @apply font-jose-400-it text-base py-[6px]
    }

    .desktop-footer-navs {
        @apply flex flex-col mx-auto
    }

    .glenn-page-quotes {
        @apply font-unna-700-it text-[17px] md:text-[29px] md:leading-8 text-center w-[70%] md:w-full m-auto mb-5 md:mb-7 mt-10 md:mt-[60px]
    }

    .glenn-page-quotes-author {
        @apply font-jose-300-it text-[13px] md:text-[19px] text-center w-[70%] m-auto
    }

    .glenn-page-headings {
        @apply font-unna-700-it text-xl md:text-[25px] mt-10 md:mt-[60px] mb-3 md:w-[70%] 
    }

    .glenn-page-p-div {
        @apply md:w-4/5 m-auto md:leading-5
    }

    .map-btn {
        @apply hover:text-primary/60 cursor-pointer w-[245px]
    }

    .map-btn-selected {
        @apply text-primary cursor-pointer w-[245px]
    }

    .map-card-p {
        @apply font-jose-600 text-[19px] leading-[22px] text-primary-dark2/60 mt-3
    }

    .map-card-span {
        @apply font-jose-600 text-[19px] leading-[22px] text-primary-dark2
    }

    .mobile-menu-rectangle {
        @apply w-5 h-[1.5px] bg-white rounded-sm m-[2px];
    }

    .mobile-footer-btns {
        @apply w-[134px] h-8 border-[1px] border-white rounded-full text-center text-[17px] pt-0.5 mx-3 hover:bg-white hover:text-primary select-none;
    }

    .newsroom-btn-default {
        @apply absolute bottom-2 right-2 w-[87px] h-8 md:w-24 md:h-7 xl:w-28 xl:h-8 flex justify-center items-center pt-[2px] md:pt-[3px] border border-white rounded-full font-jose-600 text-white text-[10px] leading-3 md:text-[10.5px] md:leading-[14.5px] xl:text-[11.5px] hover:text-primary-dark2 hover:bg-white hover:border-white cursor-pointer
    }

    .newsroom-btn-white {
        @apply absolute bottom-2 right-2 w-[87px] h-8 md:w-24 md:h-7 xl:w-28 xl:h-8 flex justify-center items-center pt-[2px] md:pt-[3px] border border-primary-dark2 rounded-full font-jose-600 text-primary-dark2 text-[10px] leading-3 hover:text-white hover:bg-primary-dark2 cursor-pointer
    }

    .newsroom-btn-pic {
        @apply absolute bottom-2 right-2 w-[87px] h-8 md:w-24 md:h-7 xl:w-28 xl:h-8 flex justify-center items-center pt-[2px] md:pt-[3px] border border-white rounded-full font-jose-600 text-white text-[10px] leading-3 hover:text-primary-dark2 hover:bg-white hover:border-white cursor-pointer
    }

    .publications-menu-divs {
        @apply border-2 border-primary-dark2 rounded-full md:rounded-none w-[48%] md:w-[24%] font-jose-600 md:font-light text-primary-dark2 md:text-white text-[9px] md:text-base leading-[9px] text-center my-1 md:mx-[1.5px] xl:mx-[1px] py-[7px] md:bg-primary-dark2  cursor-pointer
    }

    .publications-menu-first {
        @apply md:rounded-tl-3xl
    }

    .publications-menu-last {
        @apply md:rounded-br-3xl
    }

    .publications-article-p {
        @apply font-jose-400 text-[15px] md:text-[17px] leading-[17px] md:leading-[21px]
    }

    .publications-article-h2 {
        @apply mx-auto mt-8 md:mt-16 font-unna-700 text-center text-[23px] md:text-[33px] leading-[28px] md:leading-[38px]
    }

    .publications-article-h2-subtitle {
        @apply w-[92%] md:w-full xl:w-[75%] mx-auto mt-4 md:mt-7 font-jose-300-it text-center text-[15px] md:text-[19px] leading-[21px] md:leading-[23px]
    }

    .publications-article-h4 {
        @apply mt-8 md:mt-12 xl:mt-16 font-unna-700-it text-[20px] md:text-[25px] leading-[23px] md:leading-[28px]
    }

    .responsive-ordered-list-items {
        @apply pt-5 pb-5 xl:pt-9 xl:pb-9
    }

    .services-project-initiation-focused {
        @apply bg-mygreen
    }

    .services-project-initiation.focused {
        @apply bg-mygreen
    }

    .services-project-initiation-unfocused {
        @apply bg-mygreen-light
    }
    .services-project-initiation.unfocused {
        @apply bg-mygreen-light
    }

    .services-project-planning-focused {
        @apply bg-primary-focus
    }

    .services-project-planning.focused {
        @apply bg-primary-focus
    }

    .services-project-planning-unfocused {
        @apply bg-primary
    }

    .services-project-planning.unfocused {
        @apply bg-primary
    }

    .services-project-execution-focused {
        @apply bg-primary-dark2/80
    }

    .services-project-execution.focused {
        @apply bg-primary-dark2/80
    }

    .services-project-execution-unfocused {
        @apply bg-primary-dark2
    }

    .services-project-execution.unfocused {
        @apply bg-primary-dark2
    }

    .services-project-closure-focused {
        @apply bg-mygrey
    }

    .services-project-closure.focused {
        @apply bg-mygrey
    }

    .services-project-closure-unfocused {
        @apply bg-mygrey/80
    }

    .services-project-closure.unfocused {
        @apply bg-mygrey/80
    }

    .tablet-services-div {
        @apply absolute flex-col justify-between items-center top-[116px] xl:top-[180px] left-[240px] xl:left-[330px] z-20 w-[312px] h-[320px] xl:w-[402px] xl:h-[320px]
    }

    .tablet-desktop-whoweare-photo-div {
        @apply flex flex-col justify-center items-center absolute top-[189px] left-[4px] xl:top-[282px] xl:left-[10px] z-10 w-[232px] h-[47px] xl:w-[340px] xl:h-[68px]
    }

    .tablet-services-btns {
        @apply absolute z-30 px-2 w-[160px] xl:w-[165px] h-[80px] xl:h-[90px] rounded-full font-unna-700 text-center text-white text-[22px] leading-[25px] flex justify-center items-center cursor-pointer select-none
    }

    .tablet-services-div-title {
        @apply mb-5 font-unna-700 text-[31px] leading-[31px] text-center
    }
    
}

body {
    position: relative;
    min-height: 100vh;
}

:root {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

h1 {
    user-select: none;
}

input::placeholder {
    color: rgba(38, 71, 108, 1);
}

input:focus {
    outline: none;
}

textarea::placeholder {
    color: rgba(38, 71, 108, 1);
}

textarea:focus {
    outline: none;
}

#body-newsletter-input::placeholder {
    color: white;
}

.font-jose-200 {
    font-family: 'Josefin Sans';
    font-weight: 200;
}

.font-jose-300 {
    font-family: 'Josefin Sans';
    font-weight: 300;
}

.font-jose-300-it {
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-style: italic;
}

.font-jose-400 {
    font-family: 'Josefin Sans';
    font-weight: 400;
}

.font-jose-400-it {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-style: italic;
}

.font-jose-600 {
    font-family: 'Josefin Sans';
    font-weight: 600;
}

.font-jose-600-it {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-style: italic;
}

.font-jose-700 {
    font-family: 'Josefin Sans';
    font-weight: 700;
}

.font-unna-400-it {
    font-family: 'Unna';
    font-weight: 400;
    font-style: italic;
}

.font-unna-700 {
    font-family: 'Unna';
    font-weight: 700;
}

.font-unna-700-it {
    font-family: 'Unna';
    font-weight: 700;
    font-style: italic;
}

.font-nunito-400 {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 25px;
}

.publications-blu-div {
    background: #399AC299;
}

